<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="io.github.ole.taskview.permission.MANAGE_OVERLAY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskInTaskView">

        <activity android:name=".MinusOne"
            android:theme="@style/Theme.MinusOne"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="im.brain.launcher.remote"
            android:allowTaskReparenting="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MinusTwo"
            android:theme="@style/Theme.MinusTwo"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="im.brain.launcher.remote"
            android:allowTaskReparenting="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
